
bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

packages/
.vscode/
.idea/

*.log
.DS_Store
Thumbs.db

*.xcworkspace
*.xcuserstate
*.xcodeproj/
*.xcassets/

appcenter-pre-build.sh
appcenter-post-build.sh
